<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>
  <targets>
    <!-- add your targets here -->
    <target xsi:type="File" name="AllFile" fileName="${logDirectory}/nlog.log"
            layout="${longdate}    ▲${machinename}${newline}◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}■${level}${newline}◆${message}${newline}${newline}***************************************************************************" />
    <target xsi:type="Database" name="database" connectionStringName="DefaultDbContext"
            commandText="insert into NLog_Error ([CreateDate], [Host], [Source], [LogLevel], [Logger], [Message], [ExceptionType]) values (@createDate, @host, @source, @logLevel, @logger, @message, @type);">
      <!--日志发生时间-->
      <parameter name="@createDate" layout="${date}"/>
      <!--主机名-->
      <parameter name="@host" layout="${machinename}" />
      <!--日志来源-->
      <parameter name="@source" layout="${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}"/>
      <!--日志等级-->
      <parameter name="@logLevel" layout="${level}"/>
      <!--日志名-->
      <parameter name="@logger" layout="${logger}" />
      <!--日志信息-->
      <parameter name="@message" layout="${message}"/>
      <!--异常类型-->
      <parameter name="@type" layout="${exception:format=type}" />
    </target>
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" writeTo="database"/>
    <logger name="*" minlevel="Info" writeTo="AllFile"/>
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>
