@{
    ViewBag.Title = "出错啦";
}

<link href="~/assets/pages/css/error.css" rel="stylesheet" />
	<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="row">
            <div class="col-md-12 page-500">
                <div class=" number">
                    500
                </div>
                <div class=" details">
                    <h3>抱歉! 处理您的请求出错.</h3>
                    <p>
                        我们已经记录下该问题，正在全力修复中!<br />
                        请耐心等待.<br /><br />
                    </p>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
    <!-- BEGIN PAGE CONTENT -->
</div>
<!-- END PAGE CONTENT -->
