<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>友情链接</h2>
                <ul>
                    <li>
                        <a href="http://www.crewcn.com/" target="_blank">船员招聘网</a>
                    </li>
                    <li>
                        <a href="http://www.sol.com.cn/office/login.asp?gotofile=http%3A%2F%2Fcrew%2Esol%2Ecom%2Ecn%2Findex%2Easp%3F" target="_blank">航运在线</a>
                    </li>
                    <li>
                        <a href="http://www.equasis.org/EquasisWeb/authen/HomePage?fs=HomePage" target="_blank">欧盟Equasis</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs12 footer-block">
                <h2>友情链接</h2>
                <ul>
                    <li>
                        <a href="http://www.imocwx.com/wxfax.htm" target="_blank">气象网站</a>
                    </li>
                    <li>
                        <a href="http://www.segumar.com/" target="_blank">巴拿马官网</a>
                    </li>
                    <li>
                        <a href="http://www.classnk.or.jp/hp/zh/index.html" target="_blank">日本NK船级社官网</a>
                    </li>
                    <li>
                        <a href="http://www.bureauveritas.com/wps/wcm/connect/bv_com/group#" target="_blank">法国BV船级社官网</a>
                    </li>
                    <li>
                        <a href="http://www.lr.org/en/" target="_blank">劳氏船级社官网</a>
                    </li>
                    <li>
                        <a href="http://hydro.ngd.gov.cn/Default.aspx" target="_blank">中国海道测绘官网</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>政府网站</h2>
                <ul>
                    <li>
                        <a href="http://218.58.72.205/hcdzsb/skins/normal/desktopLR.jsp" target="_blank">山东海事局</a>
                    </li>
                    <li>
                        <a href="http://cyxx.msa.gov.cn/lycx/zslycx!init.action?flag=1" target="_blank">上海海事局</a>
                    </li>
                    <li>
                        <a href="http://www.msa.gov.cn/" target="_blank">中华人民共和国海事局</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>联系我们</h2>
                <ul class="social-icons">
                    <li>
                        <a href="http://weibo.com/inksoftware" target="_blank" data-original-title="weibo" class="rss"></a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="weichat" class="youtube"></a>
                    </li>
                    <li>
                        <a data-original-title="qq" class="vimeo" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=75960606&site=qq&menu=yes"></a>
                    </li>
                    <li>
                        <a href="https://facebook.com/inksoftware" target="_blank" data-original-title="facebook" class="facebook"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/inksoft" target="_blank" data-original-title="twitter" class="twitter"></a>
                    </li>
                    <li>
                        <a href="https://googleplus.com/inksoft" target="_blank" data-original-title="googleplus" class="googleplus"></a>
                    </li>
                </ul>
                <address class="margin-bottom-40">
                    Email: <a href="mailto:inksoft@163.com">inksoft@163.com</a>
                </address>

            </div>
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->