@model Shipowner

@{
    ViewBag.Title = "新增船东";
}

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Index">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a asp-action="Index">船东管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-plus-square-o font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">新增船东信息</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form asp-controller="Shipowner" asp-action="Create" method="post" class="form-horizontal" role="form">
                            <div class="form-body">
                                <div asp-validation-summary="ModelOnly"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" asp-for="Name">
                                                @Html.DisplayNameFor(model => model.Name)
                                                <span class="required" aria-required="true">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="Name" class="form-control"/>
                                                <span asp-validation-for="Name"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" asp-for="Contacter">
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="Contacter" class="form-control" />
                                                <span asp-validation-for="Contacter"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" asp-for="Address">
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="Address" class="form-control" />
                                                <span asp-validation-for="Address"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" asp-for="Telephone">
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="Telephone" class="form-control" />
                                                <span asp-validation-for="Telephone"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" asp-for="Fax">
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="Fax" class="form-control" />
                                                <span asp-validation-for="Fax"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" asp-for="Email">
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" asp-for="Website">
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="Website" class="form-control" />
                                                <span asp-validation-for="Website"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" asp-for="Representative">
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="Representative" class="form-control" />
                                                <span asp-validation-for="Representative"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" asp-for="PostalCode">
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="PostalCode" class="form-control" />
                                                <span asp-validation-for="PostalCode"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn green"><i class="fa fa-save"></i> 保存</button>
                                                <a asp-action="Index" class="btn default"><i class="fa fa-undo"></i> 返回列表</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->

